@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');

.Navbar {
    height: 80px;
    background: rgb(243, 243, 255);
    box-shadow: 1px 0px 10px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    backdrop-filter: blur(20px);
}

a {
    text-decoration: none;
    color: black;
}

.Navbar-Right {
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.Navbar-Left {
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.Navbar-Search {
    height: 30px;
    width: 240px;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
}

.Navbar-Search::placeholder {
    user-select: none;
}


.Navbar-Btn {
    padding: 10px 20px;
    border-radius: 40px;
    user-select: none;
}

.Navbar-Btn:hover {
    background-color: white;
}

.Navbar-Search:focus {
    outline: none;
}

.Navbar-Title {
    font-family: 'Comfortaa', sans-serif;
    user-select: none;
}

.Navbar-Signup {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 50px;
    user-select: none;
}

li {
    list-style: none;
    cursor: pointer;
    font-size: 18px;
}

.Flex {
    display: flex;
}

.Navbar-LoggedOut {
    padding: 10px 20px;
    border-radius: 30px;
    background: black;
    color: white;
}

.Navbar-Container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    padding: 0px 20px;
}

